#container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

#sidebar{
    color: white;
    display: grid;
    
    background-color: #0369a1 ;
}

#header {
    border: 1px solid blue;
}


#main {
border: 1px solid black;
}


#other {
    border: 1px solid green;
}